
h2 { 
  font-family: calibri;
}

table { 
  margin-left: auto;
  margin-right: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  text-align:center;
  background-color:black;
  color: white;
  font-weight:bold;
}

td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #dddddd;
}

p.ex1 {
  margin-left: 250px;
}

.myslides{
  display:none;
}

body{
  background-color: #FFFFFF;
  margin-left: 50px;
}

#bannerTop {
  text-align: center;
  background-color: grey;
  color: white;
  
}
#Analysis{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#navigate{
  text-align:center;
  background-color:black;
  color: white;
  font-weight:bold;
}
#logo{
  background-color: white;
  box-shadow: 4px 5px 5px;
}

#Introduction {
  text-align: center;
  margin-right:auto;
  margin-left:auto;
}
  
